@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: rgb(33, 53, 71);
      background-color: rgb(255, 255, 255);
    }
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

.div-root {
  @apply mx-auto max-w-screen-xl p-8;
}

.anchor {
  @apply font-medium decoration-inherit hover:text-[#747bff] dark:text-[#646cff] dark:hover:text-[#535bf2];
}

.logo {
  @apply h-[6em] p-[1.5em] transition-[filter] duration-300 will-change-filter hover:drop-shadow-[0_0_2em_rgba(100,108,255,0.667)];
}

.btn {
  @apply cursor-pointer rounded border border-solid border-transparent bg-gray-100 px-[1.2em] py-[0.6em] font-sans text-[1em] font-medium tracking-widest transition-[border] duration-[0.25s] hover:border-[#646cff] focus:outline focus:outline-2 focus:outline-slate-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-slate-400 dark:bg-gray-900;
}
